{% extends 'base.html' %}
{% block content %}
<header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
        <br>
        <br>



    </nav>
</header>
<main>
    <h1>My Receipts</h1>
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_item %}
            <tr>
                <td> {{ receipt.vendor }} </td>
                <td> {{ receipt.total }} </td>
                <td> {{ receipt.tax }} </td>
                <td> {{ receipt.date|date:"m/d/y" }} </td>
                <td> {{ receipt.category.name }} </td>
                <td> {{ receipt.account.name }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
